body {
    padding: 0;
    margin: 0;
}

input,
select,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget-header,
.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content {
    font-size: 14px !important;
}

.pe-master-detail .ui-breadcrumb .ui-breadcrumb-chevron {
    margin-top: 4px;
}

.firstbtn {
    margin-top: 13px;
}

.btn {
    margin-top: 13px;
    margin-left: 3px;
}

.logo {
    margin: 15px 0 15px 30px;
}

.slogan {
    position: absolute;
    color: #A2A1A1;
    font-weight: bold;
    top: 25px;
    right: 40px;
}

.menuColumn {
    vertical-align: top;
    padding-left: 30px;
}

.contentColumn {
    vertical-align: top;
    padding: 0 30px 0 30px;
}

#servicesList {
    width: 200px;
}

#servicesList .ui-menuitem-link {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 16px;
}

#servicesList .ui-menuitem-text {
    padding-left: 4px;
}

#masterDetail {
    width: 880px;
}

table .formColumn1 {
    padding: 2px 10px 2px 0;
    text-align: right;
    white-space: nowrap;
    width: 1%;
}

table .formColumn2 {
    padding: 2px 0 2px 0;
}

table .formColumn2 input {
    width: 200px;
}

table .formColumn2 .ui-datepicker-trigger {
    margin-left: 2px;
    vertical-align: top;
}

.fieldcolumn {
    display:inline-block;
    padding:1px 2px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;

    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}

.fieldcolumn-grey {
    color:#fff;
    background-color:#919180;
    border-color: #656559;
}

.fieldcolumn-blue {
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4
}

.fieldcolumn-green {
    color:#fff;
    background-color: #53D769;
    border-color: #3a9649;
}

.fieldcolumn-red {
    color:#fff;
    background-color: #BA4141;
    border-color: #6f2727;
}

.fieldcolumn-orange {
    color:#fff;
    background-color: #E59400;
    border-color: #CC8400;
}

.fieldcolumn-purple-light {
    color:#fff;
    background-color: #730073;
    border-color: #670067;
}

.fieldcolumn-purple-hard {
    color:#fff;
    background-color: #2e002e;
    border-color: #220022;
}

.fieldcolumn-dust {
    color:#fff;
    background-color: #a39457;
    border-color: #8e814c;
}

