.field-column {
  display: inline-block;
  padding: 1px 2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.field-column-dict {
  color: #fff;
  background-color: #7fbf7f;
  border-color: #3a9649;
}

.field-column-grey {
  color: #fff;
  background-color: #919180;
  border-color: #656559;
}

.fieldcolumn-blue {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4
}

.fieldcolumn-green {
  color: #fff;
  background-color: #53D769;
  border-color: #3a9649;
}

.fieldcolumn-red {
  color: #fff;
  background-color: #BA4141;
  border-color: #6f2727;
}

.fieldcolumn-orange {
  color: #fff;
  background-color: #E59400;
  border-color: #CC8400;
}

.fieldcolumn-purple-light {
  color: #fff;
  background-color: #730073;
  border-color: #670067;
}

.fieldcolumn-purple-hard {
  color: #fff;
  background-color: #2e002e;
  border-color: #220022;
}

.fieldcolumn-dust {
  color: #fff;
  background-color: #a39457;
  border-color: #8e814c;
}
