<div fxLayout="column">
  <textarea matInput class="width-min-full width-max-full parser-input"
            placeholder="{{ 'PARSER.PLACEHOLDER' | translate }}"
            [formControl]="messagesFormControl"></textarea>
  <div fxLayout="row" fxLayoutAlign="space-between" class="top-padded">
    <div fxLayout="row">
      <button mat-stroked-button color="primary"
              (click)="onSampleButtonClick()">{{ 'PARSER.SAMPLE' | translate }}</button>
    </div>
    <div fxLayout="row">
      <mat-select #fontSize value="16px">
        <mat-option value="10px">10px</mat-option>
        <mat-option value="12px">12px</mat-option>
        <mat-option value="14px">14px</mat-option>
        <mat-option value="16px">16px</mat-option>
        <mat-option value="18px">18px</mat-option>
        <mat-option value="20px">20px</mat-option>
      </mat-select>
      <button mat-stroked-button color="primary" (click)="onParseButtonClick()"
              fxFlexAlign="end">{{ 'PARSER.PARSE' | translate }}</button>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="60">
      <app-fix-messages [messages]="messages"
                        [selectedMessage]="selectedMessage"
                        (onMessageSelection)="getMessage($event)"
                        class="width-full"></app-fix-messages>
      <mat-paginator [pageSizeOptions]="[25, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div fxFlex="40" fxLayoutAlign="flex-end">
      <app-fix-message [selectedMessage]="selectedMessage"
                       class="width-full"></app-fix-message>
    </div>
  </div>
</div>
