.parser-input {
  height: 10em
}

.field-column {
  display: inline-block;
  padding: 1px 2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.field-column-dict {
  color: #fff;
  background-color: #7fbf7f;
  border-color: #3a9649;
}

.field-column-grey {
  color: #fff;
  background-color: #919180;
  border-color: #656559;
}

