<div fxLayout="column">
  <textarea matInput class="width-min-full width-max-full parser-input"
            placeholder="{{ 'PARSER.PLACEHOLDER' | translate }}"
            [formControl]="messagesFormControl"></textarea>
  <div fxLayout="row" fxLayoutAlign="space-between" class="top-padded">
    <div fxLayout="row">
      <button mat-stroked-button
              class="main-font-color"
              (click)="onSampleButtonClick()">{{ 'PARSER.SAMPLE' | translate }}</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="right-padded">
        <mat-select [(ngModel)]="selectedDictionary"
                    [compareWith]="compareObjects"
                    class="dictionary-select">
          <mat-option *ngFor="let dictionary of ($getDictionaries | async)" [value]="dictionary">
            {{ dictionary.providerName }}
          </mat-option>
        </mat-select>
      </div>
      <button mat-stroked-button
              class="left-padded main-font-color"
              (click)="onParseButtonClick()"
              fxFlexAlign="end">{{ 'PARSER.PARSE' | translate }}</button>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="60">
      <app-fix-messages [messages]="messages"
                        [selectedMessage]="selectedMessage"
                        (onMessageSelection)="getMessage($event)"
                        class="width-full"></app-fix-messages>
    </div>
    <div fxFlex="40" fxLayoutAlign="flex-end">
      <app-fix-message [selectedMessage]="selectedMessage"
                       class="width-full"></app-fix-message>
    </div>
  </div>

  <div fxLayout="row" class="top-padded">
    <mat-expansion-panel class="width-full">
      <mat-expansion-panel-header>
        <mat-panel-title class="compare-title">
          {{ 'PARSER.COMPARE_MESSAGES' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-message-comparator class="width-full"
                              [messages]="messages"></app-message-comparator>
    </mat-expansion-panel>
  </div>
</div>
